<!DOCTYPE html>
<html>
	<head>
		<title>
			Afvinkopdracht 2 HTML
		</title>
		<meta name="Margo Raijmakers" content="Afvinkopdracht 2 HTML" charset="UTF-8">
		<link rel="stylesheet" href="/static/Afvinkopdracht 2 2 CSS.css">
	</head>

	<body>
    <form method="get">
        <p>
            DNA sequentie: <input type="text" name="dna"> <input type="submit">
        </p>
        <hr>
        <p>
            Eiwit sequentie: {{ aminozuursequentie }}
        </p>

    </form>
    </body>
</html>